{% extends 'gandi/base.html' %}

{% block title %}
domain_info
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h1 class="mb-5">Gandi DNS zones</h1>
  </div>
  <div class="col-1">
    <a href="{% url 'update_dns_zones_url' %}" class="btn btn-info" role="button">Update</a>
  </div>
    <div class="col-1">
    <a href="{% url 'fullupdate_dns_zones_url' %}" class="btn btn-info" role="button">FullUpdate</a>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Updated</th>
      <th scope="col">Version</th>
    </tr>
  </thead>
  <tbody>
    {% for zone in dnszone_list %}
    <tr>
      <td scope="row" class="table-success"><a href="{{ zone.get_absolute_url }}">{{ zone.name }}</a></td>
      <td class="table-success">{{ zone.updated }}</td>
      <td class="table-success">{{ zone.version }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% for zone in info %}
<p>{{zone.zone_id}} {{ zone.name }} {{ zone.updated }} {{ zone.version }}</p>
{% endfor %}
{% endblock content %}