{% extends 'gandi/base.html' %}

{% block title %}
domain_info
{% endblock title %}

{% block content %}
<h2>{{zone.name}}</h2>
<p>{{ zone.id }}</p>
<div class="row">
    <div class="col-10">
        <h3>Records</h3>
    </div>
    <div class="col-2">
        <a href="{{ zone.update }}" class="btn btn-info" role="button">Update</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for ip in records %}
        <tr>
            <td scope="row">{{ ip.name }}</td>
            <td>{{ ip.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}