{% extends 'gandi/base.html' %}

{% block title %}
domain_info
{% endblock title %}

{% block content %}
<p>{{domain.fqdn}}</p>
<p>{{domain.creation_date}}</p>
<p>{{domain.expire_date}}</p>
<p>{{domain.autorenew}}</p>
<p>{{domain.dns_zone}}</p>
{% endblock content %}