{% extends 'gandi/base.html' %}

{% block title %}
Domain create
{% endblock %}


{% block content %}
<form action="{% url 'domain_create' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
        <div class="alert alert-warning" role="alert">
            {{ field.errors }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}