{% extends 'gandi/base.html' %}

{% block title %}
domains!!!
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h1 class="mb-5">Gandi domains</h1>
  </div>
  <div class="col-1">
    <a href="{% url 'update_domains_url' %}" class="btn btn-info" role="button">Update</a>
  </div>
  <div class="col-1">
    <a href="{% url 'fullupdate_domains_url' %}" class="btn btn-info" role="button">Full Update</a>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created</th>
      <th scope="col">Expired</th>
      <th scope="col">autorenew</th>
      <th scope="col">banned</th>
      <th scope="col">dns zone</th>
    </tr>
  </thead>
  <tbody>
    {% for domain in domain_list %}
    <tr>
      {% if domain.autorenew %}
      <td scope="row" class="table-success"><a href="{{ domain.get_absolute_url }}">{{ domain.fqdn }}</a></td>
      <td class="table-success">{{ domain.creation_date }}</td>
      <td class="table-success">{{ domain.expire_date }}</td>
      <td class="table-success">{{ domain.autorenew }}</td>
      <td class="table-success">{{ domain.banned }}</td>
      <td class="table-success"><a href="{{ domain.dns_zone.get_absolute_url }}">{{ domain.dns_zone }}</a></td>
      {% else %}
      <td scope="row" class="table-warning"><a href="{{ domain.get_absolute_url }}">{{ domain.fqdn }}</a></td>
      <td class="table-warning">{{ domain.creation_date }}</td>
      <td class="table-warning">{{ domain.expire_date }}</td>
      <td class="table-warning">{{ domain.autorenew }}</td>
      <td class="table-warning">{{ domain.banned }}</td>
      <td class="table-warning"><a href="{{ domain.dns_zone.get_absolute_url }}">{{ domain.dns_zone }}</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}