{% extends 'qrator/base.html' %}

{% block title %}
domains!!!
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h1 class="mb-5">IP addresses</h1>
  </div>
    <div class="col-2">
    <a href="{% url 'update_qrator_url' %}" class="btn btn-info" role="button">Update</a>
  </div>
</div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Banned</th>
      <th scope="col">Domain</th>
      <th scope="col">Qrator pool</th>
    </tr>
  </thead>
  <tbody>
    {% for addr in ip %}
    <tr>
      <td scope="row">{{ addr.value }}</td>
      <td>{{ addr.banned }}</td>
      <td>{{ addr.domain }}</td>
      <td><a href="{{ addr.qrator_pool.get_absolute_url }}">{{ addr.qrator_pool }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}