{% extends 'qrator/base.html' %}

{% block title %}
domains!!!
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10">
    <h1 class="mb-5">{{ service.name }}</h1>
    <h3 class="mb-5">{{ service.status }}</h3>
  </div>
</div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Banned</th>
      <th scope="col">Domain</th>
    </tr>
  </thead>
  <tbody>
    {% for addr in ip %}
    <tr>
      <td scope="row">{{ addr.value }}</td>
      <td>{{ addr.banned }}</td>
      <td>{{ addr.domain }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}