<!doctype html>

<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
    <title>
        {% block title  %}
        DefaultBlock!!!
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gandi_domains_list_url' %}">Domains</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dns_zones_url' %}">DNS zones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ip_list_url' %}">IP</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'domain_create' %}" >domain create</a>
                </li>
            </ul>

            <a href="{% url 'update_rknban_url' %}" class="btn btn-info" role="button">update RKN ban</a>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                {% block content  %}
                No content!!!
                {% endblock %}
</div>
        </div>
    </div>
</body>

</html>